<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
            <a id="logo" class="navbar-brand text-warning" href="/">Trivial de la Coma!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 justify-content-center" id="navbarSupportedContent">
                <div class="col-lg-9">
                    <quesitos></quesitos>
                    <p v-if="this.shared.usuari.length" class="text-center"> <strong>Jugador: </strong>{{this.shared.usuari }}</p>
                </div>
                <div class="col-lg-3 d-flex flex-row-reverse">
                    <a href="/admin" class="btn btn-primary ">Administració</a>
                </div>
            </div>


        </nav>

        <!-- v-on:clickedSomething="actualitzaNomPare"-->
        <transition name="slide-fade" mode="out-in">
            <router-view :shared="shared"></router-view>
        </transition>

    </div>
</template>

<script>
    import Quesitos from "../views/Quesitos";
    import ModalNom from "../views/ModalNom";
    import StartGame from "../views/StartGame"

    export default {
        name: "AppComponent",
        components: {Quesitos, ModalNom, StartGame},
        data: function () {
            return {
                shared: {
                    usuari: '',
                    t1: {triangleClass: "t1", aconseguit: false},
                    t2: {triangleClass: "t2", aconseguit: false},
                    t3: {triangleClass: "t3", aconseguit: false},
                    t4: {triangleClass: "t4", aconseguit: false},
                    t5: {triangleClass: "t5", aconseguit: false},
                    t6: {triangleClass: "t6", aconseguit: false},
                    perd: false,
                    partides: '',
                    tempsStart : new Date(),
                    tempsFinish : new Date(),
                    temps : ''
                }
            }
        },

        sockets: {
            connect: function() {
                console.log('socket connected')
            },
            guanya: function (user) {
                // Toast de l'usuari que ha guanyat
                this.$toasted.show(user + " ha guanyat!",{
                    theme: "bubble",
                    position: "bottom-right",
                    duration : 3000
                })
            },
            perd: function(user){
                // Toast de l'usuari que ha perdut
                this.$toasted.show(user + " ha perdut...",{
                    theme: "outline",
                    position: "bottom-right",
                    duration : 3000
                })
            }

        }

    }
</script>

<style scoped>
    .centrat {
        margin-left: -9%;
    }

    #logo{
        font-family: 'Paytone One', sans-serif;
        font-size: 2.5em;

    }
</style>