<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 ml-5">
                <h4 class="display-4 text-light text-center mt-5 mb-5">Has guanyat!</h4>

                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>

                <div class="d-flex flex-column align-items-center">
                    <router-link @click.native="reiniciarJoc"
                                 class="btn btn-success"
                                 :to="{name : 'startgame'}">
                        Tornar a jugar
                    </router-link>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            shared: Object
        },
        name: "Guanyador",
        created() {
            this.calculaTemps();
        },
        methods: {
            reiniciarJoc: function () {
                console.log('entra a acabar joc')
                this.$socket.emit('guanya', this.shared.usuari);
            },
            calculaTemps() {
                var dataInici = this.shared.tempsStart.getTime()
                var dataFi = this.shared.tempsFinish.getTime()

                var segons = (dataFi - dataInici) / 1000;
                this.shared.temps = segons;

                this.afegeixRegistreApi()
            },
            afegeixRegistreApi() {
                axios.post('http://127.0.0.1:8000/api/v1/ranking', {
                    user: this.shared.usuari,
                    partides: this.shared.partides,
                    temps: this.shared.temps
                })
                    .then(response => {
                        if (response.status === 201) {
                            console.log("afegit exitosament!")
                        }
                    })
            }
        },


    }
</script>

<style scoped>

    .pyro > .before, .pyro > .after {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
        -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    }

    .pyro > .after {
        -moz-animation-delay: 1.25s, 1.25s, 1.25s;
        -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
        -o-animation-delay: 1.25s, 1.25s, 1.25s;
        -ms-animation-delay: 1.25s, 1.25s, 1.25s;
        animation-delay: 1.25s, 1.25s, 1.25s;
        -moz-animation-duration: 1.25s, 1.25s, 6.25s;
        -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
        -o-animation-duration: 1.25s, 1.25s, 6.25s;
        -ms-animation-duration: 1.25s, 1.25s, 6.25s;
        animation-duration: 1.25s, 1.25s, 6.25s;
    }

    @-webkit-keyframes bang {
        to {
            box-shadow: 67px -322.6666666667px #ff2600, -232px 73.3333333333px #00b7ff, 158px -277.6666666667px #ff8400, 219px -303.6666666667px yellow, -136px -316.6666666667px #ffa600, -192px -89.6666666667px #00ffb7, 41px -205.6666666667px #00b3ff, 119px -111.6666666667px #00ff55, 241px 39.3333333333px #00ffb3, 196px -44.6666666667px #ff005e, 56px -273.6666666667px #006aff, 84px -240.6666666667px #6a00ff, 158px -373.6666666667px #0004ff, -138px 16.3333333333px #c4ff00, -23px -276.6666666667px #ffb700, 147px -12.6666666667px #00ff91, 156px -240.6666666667px #7300ff, 119px -76.6666666667px #ff00d5, 197px -14.6666666667px #ffbf00, -82px -362.6666666667px #77ff00, -33px 19.3333333333px #00c8ff, -104px 67.3333333333px #0051ff, 249px -324.6666666667px #0073ff, -37px -207.6666666667px #00aaff, -75px -31.6666666667px #ff0091, -29px -263.6666666667px #ff8400, -109px -82.6666666667px #bfff00, -208px -67.6666666667px #33ff00, -188px -330.6666666667px #8400ff, -130px -112.6666666667px #95ff00, 198px -41.6666666667px #ff0066, -77px -293.6666666667px #99ff00, 200px -134.6666666667px #00ff59, 230px -225.6666666667px #ff009d, -111px -238.6666666667px #00ff33, -201px -334.6666666667px #ff3700, 166px 56.3333333333px #2200ff, -228px -172.6666666667px #ffe600, -126px -81.6666666667px #0040ff, -175px -324.6666666667px #ff0015, -191px -218.6666666667px #ffaa00, 6px -13.6666666667px #0084ff, -223px -293.6666666667px #ddff00, -164px -338.6666666667px #ff0009, -109px -350.6666666667px #00aeff, 118px -396.6666666667px #5e00ff, -184px -169.6666666667px #006fff, 132px -402.6666666667px #ff4400, 150px -94.6666666667px #ffbf00, -32px 38.3333333333px #00e1ff, -103px -231.6666666667px #ff005e;
        }
    }

    @-moz-keyframes bang {
        to {
            box-shadow: 67px -322.6666666667px #ff2600, -232px 73.3333333333px #00b7ff, 158px -277.6666666667px #ff8400, 219px -303.6666666667px yellow, -136px -316.6666666667px #ffa600, -192px -89.6666666667px #00ffb7, 41px -205.6666666667px #00b3ff, 119px -111.6666666667px #00ff55, 241px 39.3333333333px #00ffb3, 196px -44.6666666667px #ff005e, 56px -273.6666666667px #006aff, 84px -240.6666666667px #6a00ff, 158px -373.6666666667px #0004ff, -138px 16.3333333333px #c4ff00, -23px -276.6666666667px #ffb700, 147px -12.6666666667px #00ff91, 156px -240.6666666667px #7300ff, 119px -76.6666666667px #ff00d5, 197px -14.6666666667px #ffbf00, -82px -362.6666666667px #77ff00, -33px 19.3333333333px #00c8ff, -104px 67.3333333333px #0051ff, 249px -324.6666666667px #0073ff, -37px -207.6666666667px #00aaff, -75px -31.6666666667px #ff0091, -29px -263.6666666667px #ff8400, -109px -82.6666666667px #bfff00, -208px -67.6666666667px #33ff00, -188px -330.6666666667px #8400ff, -130px -112.6666666667px #95ff00, 198px -41.6666666667px #ff0066, -77px -293.6666666667px #99ff00, 200px -134.6666666667px #00ff59, 230px -225.6666666667px #ff009d, -111px -238.6666666667px #00ff33, -201px -334.6666666667px #ff3700, 166px 56.3333333333px #2200ff, -228px -172.6666666667px #ffe600, -126px -81.6666666667px #0040ff, -175px -324.6666666667px #ff0015, -191px -218.6666666667px #ffaa00, 6px -13.6666666667px #0084ff, -223px -293.6666666667px #ddff00, -164px -338.6666666667px #ff0009, -109px -350.6666666667px #00aeff, 118px -396.6666666667px #5e00ff, -184px -169.6666666667px #006fff, 132px -402.6666666667px #ff4400, 150px -94.6666666667px #ffbf00, -32px 38.3333333333px #00e1ff, -103px -231.6666666667px #ff005e;
        }
    }

    @-o-keyframes bang {
        to {
            box-shadow: 67px -322.6666666667px #ff2600, -232px 73.3333333333px #00b7ff, 158px -277.6666666667px #ff8400, 219px -303.6666666667px yellow, -136px -316.6666666667px #ffa600, -192px -89.6666666667px #00ffb7, 41px -205.6666666667px #00b3ff, 119px -111.6666666667px #00ff55, 241px 39.3333333333px #00ffb3, 196px -44.6666666667px #ff005e, 56px -273.6666666667px #006aff, 84px -240.6666666667px #6a00ff, 158px -373.6666666667px #0004ff, -138px 16.3333333333px #c4ff00, -23px -276.6666666667px #ffb700, 147px -12.6666666667px #00ff91, 156px -240.6666666667px #7300ff, 119px -76.6666666667px #ff00d5, 197px -14.6666666667px #ffbf00, -82px -362.6666666667px #77ff00, -33px 19.3333333333px #00c8ff, -104px 67.3333333333px #0051ff, 249px -324.6666666667px #0073ff, -37px -207.6666666667px #00aaff, -75px -31.6666666667px #ff0091, -29px -263.6666666667px #ff8400, -109px -82.6666666667px #bfff00, -208px -67.6666666667px #33ff00, -188px -330.6666666667px #8400ff, -130px -112.6666666667px #95ff00, 198px -41.6666666667px #ff0066, -77px -293.6666666667px #99ff00, 200px -134.6666666667px #00ff59, 230px -225.6666666667px #ff009d, -111px -238.6666666667px #00ff33, -201px -334.6666666667px #ff3700, 166px 56.3333333333px #2200ff, -228px -172.6666666667px #ffe600, -126px -81.6666666667px #0040ff, -175px -324.6666666667px #ff0015, -191px -218.6666666667px #ffaa00, 6px -13.6666666667px #0084ff, -223px -293.6666666667px #ddff00, -164px -338.6666666667px #ff0009, -109px -350.6666666667px #00aeff, 118px -396.6666666667px #5e00ff, -184px -169.6666666667px #006fff, 132px -402.6666666667px #ff4400, 150px -94.6666666667px #ffbf00, -32px 38.3333333333px #00e1ff, -103px -231.6666666667px #ff005e;
        }
    }

    @-ms-keyframes bang {
        to {
            box-shadow: 67px -322.6666666667px #ff2600, -232px 73.3333333333px #00b7ff, 158px -277.6666666667px #ff8400, 219px -303.6666666667px yellow, -136px -316.6666666667px #ffa600, -192px -89.6666666667px #00ffb7, 41px -205.6666666667px #00b3ff, 119px -111.6666666667px #00ff55, 241px 39.3333333333px #00ffb3, 196px -44.6666666667px #ff005e, 56px -273.6666666667px #006aff, 84px -240.6666666667px #6a00ff, 158px -373.6666666667px #0004ff, -138px 16.3333333333px #c4ff00, -23px -276.6666666667px #ffb700, 147px -12.6666666667px #00ff91, 156px -240.6666666667px #7300ff, 119px -76.6666666667px #ff00d5, 197px -14.6666666667px #ffbf00, -82px -362.6666666667px #77ff00, -33px 19.3333333333px #00c8ff, -104px 67.3333333333px #0051ff, 249px -324.6666666667px #0073ff, -37px -207.6666666667px #00aaff, -75px -31.6666666667px #ff0091, -29px -263.6666666667px #ff8400, -109px -82.6666666667px #bfff00, -208px -67.6666666667px #33ff00, -188px -330.6666666667px #8400ff, -130px -112.6666666667px #95ff00, 198px -41.6666666667px #ff0066, -77px -293.6666666667px #99ff00, 200px -134.6666666667px #00ff59, 230px -225.6666666667px #ff009d, -111px -238.6666666667px #00ff33, -201px -334.6666666667px #ff3700, 166px 56.3333333333px #2200ff, -228px -172.6666666667px #ffe600, -126px -81.6666666667px #0040ff, -175px -324.6666666667px #ff0015, -191px -218.6666666667px #ffaa00, 6px -13.6666666667px #0084ff, -223px -293.6666666667px #ddff00, -164px -338.6666666667px #ff0009, -109px -350.6666666667px #00aeff, 118px -396.6666666667px #5e00ff, -184px -169.6666666667px #006fff, 132px -402.6666666667px #ff4400, 150px -94.6666666667px #ffbf00, -32px 38.3333333333px #00e1ff, -103px -231.6666666667px #ff005e;
        }
    }

    @keyframes bang {
        to {
            box-shadow: 67px -322.6666666667px #ff2600, -232px 73.3333333333px #00b7ff, 158px -277.6666666667px #ff8400, 219px -303.6666666667px yellow, -136px -316.6666666667px #ffa600, -192px -89.6666666667px #00ffb7, 41px -205.6666666667px #00b3ff, 119px -111.6666666667px #00ff55, 241px 39.3333333333px #00ffb3, 196px -44.6666666667px #ff005e, 56px -273.6666666667px #006aff, 84px -240.6666666667px #6a00ff, 158px -373.6666666667px #0004ff, -138px 16.3333333333px #c4ff00, -23px -276.6666666667px #ffb700, 147px -12.6666666667px #00ff91, 156px -240.6666666667px #7300ff, 119px -76.6666666667px #ff00d5, 197px -14.6666666667px #ffbf00, -82px -362.6666666667px #77ff00, -33px 19.3333333333px #00c8ff, -104px 67.3333333333px #0051ff, 249px -324.6666666667px #0073ff, -37px -207.6666666667px #00aaff, -75px -31.6666666667px #ff0091, -29px -263.6666666667px #ff8400, -109px -82.6666666667px #bfff00, -208px -67.6666666667px #33ff00, -188px -330.6666666667px #8400ff, -130px -112.6666666667px #95ff00, 198px -41.6666666667px #ff0066, -77px -293.6666666667px #99ff00, 200px -134.6666666667px #00ff59, 230px -225.6666666667px #ff009d, -111px -238.6666666667px #00ff33, -201px -334.6666666667px #ff3700, 166px 56.3333333333px #2200ff, -228px -172.6666666667px #ffe600, -126px -81.6666666667px #0040ff, -175px -324.6666666667px #ff0015, -191px -218.6666666667px #ffaa00, 6px -13.6666666667px #0084ff, -223px -293.6666666667px #ddff00, -164px -338.6666666667px #ff0009, -109px -350.6666666667px #00aeff, 118px -396.6666666667px #5e00ff, -184px -169.6666666667px #006fff, 132px -402.6666666667px #ff4400, 150px -94.6666666667px #ffbf00, -32px 38.3333333333px #00e1ff, -103px -231.6666666667px #ff005e;
        }
    }

    @-webkit-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }

    @-moz-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }

    @-o-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }

    @-ms-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }

    @keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }

    @-webkit-keyframes position {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%, 79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }

    @-moz-keyframes position {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%, 79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }

    @-o-keyframes position {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%, 79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }

    @-ms-keyframes position {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%, 79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }

    @keyframes position {
        0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%, 59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%, 79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%, 99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }


</style>
