<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">LAYOUT INICI</div>

                    <div class="card-body">
                            <router-link
                                    class="btn btn-primary"
                                    :to="{name : 'startgame'}">
                                Inicia Partida
                            </router-link>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Inici"
    }
</script>

<style scoped>

</style>