<template>
    <div>
        <!-- Trigger the modal amb un button -->
        <a  href="#" class="card-link btn btn-primary" data-toggle="modal" data-target="#modalElimina"><i class="fa fa-trash"></i>Inicia Joc</a>

        <!-- Modal -->
        <div class="modal fade" id="modalElimina" role="dialog">
            <div class="modal-dialog">

                <!-- Contingut Modal-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dades del Jugador</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label for="username" class="col-form-label">Introdueix el teu nom de jugador</label>
                        <input type="text"  v-model="usuari" id="username" class="form-control" aria-label="Username" name="newData" aria-describedby="basic-addon1" value="">
                    </div>
                    <div class="modal-footer" id="del">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Tanca</button>
                        <router-link
                                class="btn btn-success"
                                data-dismiss="modal"
                                :to="{name : 'tiradau'}">
                            Juga!
                        </router-link>


                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModalNom",
        data:function () {
            return {
                usuari: ''
            }
        },
        methods: {
            handleClick: function() {
                this.$root.$emit('clickedSomething',this.usuari)
            }
        }

    }
</script>

<style scoped>

</style>