<template>

    <div class="container">
        <div class="row justify-content-center">

            <div id="perdedor" class="d-flex flex-row align-items-center rounded">
                <div class="d-flex align-items-center flex-column col-md-6">
                    <img class="img-fluid" v-bind:src="gif" />
                </div>
                <div class="col-md-6">
                    <h4 class="display-3 text-light text-center mt-5 mb-5">Has perdut...</h4>
                    <h4 class="text-center text-light">Has esgotat el límit de partides jugades! </h4>

                    <div class="d-flex flex-column align-items-center mt-5">
                        <router-link @click.native="reiniciarJoc"
                                     class="btn btn-success"
                                     :to="{name : 'startgame'}">
                            Tornar a jugar
                        </router-link>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Perdedor",
        props: {
            shared: Object
        },
        data: function () {
            return {
                gif: '',
                gifs:['https://assets0.domestika.org/project-items/002/525/300/Entretenimiento-big.gif', 'https://assets9.domestika.org/project-items/002/525/299/Deportes-big.gif',
                'https://assets5.domestika.org/project-items/002/525/295/Arte-y-literatura-big.gif', 'https://assets6.domestika.org/project-items/002/525/296/Ciencia-big.gif',
                'https://i.pinimg.com/originals/f1/c9/c5/f1c9c55c9e374f4a1ba99f888cdec278.gif', 'https://assets7.domestika.org/project-items/002/525/307/Historia-01-big.gif']
            }
        },
        created() {
            var posicio = Math.floor(Math.random() * this.gifs.length)
            this.gif = this.gifs[posicio]

        },
        methods:{
            reiniciarJoc: function(){
                console.log('entra a acabar joc')
                this.$socket.emit('perd', this.shared.usuari);
            },

        },
    }
</script>

<style scoped>

    #perdedor{
        background-color: black !important;
    }

</style>