<template>
    <div id="TriangleContainers" class="d-flex justify-content-center">
        <div id="t1" class="triangle-up mr-2 mb-2 triangle_desactivat"/>
        <div id="t2" class="triangle-up mr-2 mb-2 triangle_desactivat"/>
        <div id="t3" class="triangle-up mr-2 mb-2 triangle_desactivat"/>
        <div id="t4" class="triangle-up mr-2 mb-2 triangle_desactivat"/>
        <div id="t5" class="triangle-up mr-2 mb-2 triangle_desactivat"/>
        <div id="t6" class="triangle-up mr-2 mb-2 triangle_desactivat"/>

    </div>
</template>

<script>
    export default {
        name: "Quesitos",
        data: function () {
            return {

            }
        }
    }
</script>

<style scoped>
    #TriangleContainers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    div[id^="t"]{
        transform: translate(0,0);
        transition: 0.5s;
    }
    div[id^="t"]:hover{
        transform: scale(1.5,1.5);
    }
    .triangle-up {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        margin-right: 4%;
        margin-button: 4%;
    }

    .triangle_geografia {
        border-bottom: 43px solid #1575cf;
    }

    .triangle_artliteratura {
        border-bottom: 43px solid #f42731;
    }

    .triangle_historia {
        border-bottom: 43px solid #ebd036;
    }

    .triangle_entreteniment {
        border-bottom: 43px solid #e643a0;
    }

    .triangle_natura {
        border-bottom: 43px solid #1fc868;
    }

    .triangle_esports {
        border-bottom: 43px solid #ff9400;
    }

    .triangle_desactivat {
        border-bottom: 43px solid gray !important;
    }

</style>