<template>
    <div class="container d-flex flex-column">
        <h2 class="display-4 text-light text-center mt-5 mb-5">Rànking Jugadors</h2>
        <div ref="spinner" class="visible d-flex flex-column centrat">
            <i ref="spinner2" class="fa fa-spinner text-light fa-spin fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div ref="jugadors" class="invisible d-flex flex-column centrat">
            <div v-for="jugador in jugadors" class="notice notice-warning w-50 d-flex flex-column">
                <div>
                    <b>{{jugador.user}}</b>
                </div>
                <div class="mt-2">
                    <p>Rondes: <b>{{jugador.partides}}</b> | Temps: <b> {{jugador.temps}} s</b></p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Ranking",
        data: function () {
            return {
                jugadors: [],
                players: '',
                spinner: ''
            }
        },
        created() {
            axios.get('http://127.0.0.1:8000/api/v1/ranking/')
                .then(response => {
                    this.jugadors = response.data
                })
        },
        updated() {
            this.$refs.spinner.classList.remove("visible")
            this.$refs.spinner.classList.add("invisible")
            this.$refs.jugadors.classList.remove("invisible")
            this.$refs.jugadors.classList.add("visible")
            this.$refs.spinner2.classList.add("invisible")
        }


    }
</script>

<style scoped>
    .centrat {
        display: flex;
        align-items: center;
    }

    .visible {
        display: block;
    }

    .invisible {
        display: none;
        margin: 0;
    }

    .notice {
        padding: 15px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    }

    .notice-right {
        padding: 15px;
        background-color: #fafafa;
        border-right: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    }

    .notice-success > strong {
        color: #80D651;
    }

    .notice-info {
        border-color: #45ABCD;
    }

    .notice-info > strong {
        color: #45ABCD;
    }

    .notice-warning {
        border-color: #FEAF20;
    }

    .notice-warning > strong {
        color: #FEAF20;
    }

    .notice-danger {
        border-color: #d73814;
    }

    .notice-danger > strong {
        color: #d73814;
    }
</style>