<template>
    <div class="container">
        <div class="row justify-content-center">

            <div class="d-flex flex-row align-items-center">
                <div ref="spinner" class="visible d-flex flex-column">
                    <i class="fa fa-spinner text-light fa-spin fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div ref="divCateg" class="invisible d-flex align-items-center flex-column mt-5">
                    <img v-bind:src="categoriaActual.descripcio" class="img-fluid" alt="">
                    <p class="txt-Cat card-text text-light align-self-center">{{categoriaActual.nom}}</p>
                </div>
                <div ref="divPregunta" class="invisible col-md-10 ml-5">
                    <h3 class="text-light text-center mt-5 mb-5">{{pregunta.pregunta}}</h3>
                    <div class="d-flex flex-column align-items-center">
                        <div class="col-lg-12 d-flex flex-column align-items-center"
                             v-for="resposta in respostes.respostes">
                            <button v-bind:id="resposta.id"
                                    class=".text-dark btn bg-light font-weight-bold mb-3 d-block col-lg-8"
                                    v-on:click="comprovaResposta(resposta.id)">
                                {{resposta.resposta}}
                            </button>
                        </div>
                    </div>
                </div>
                <div ref="pista" class="col-md-2 invisible">
                    <button type="button" class="btn btn-warning btn-circle btn-xl" data-toggle="modal"
                            data-target="#exampleModal">
                        <i class="fa fa-question"></i>
                    </button>
                </div>

            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pista</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{pregunta.pista}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            categoria: Number,
            shared: Object
        },
        name: "ResponPregunta",
        data: function () {
            return {
                pregunta: {},
                respostes: {},
                respostaCorrecta: '',
                usuari: this.user,
                interval: null,
                categoriaActual: {},
                partides: this.shared.partides
            }
        },
        created() {
            axios.get('http://127.0.0.1:8000/api/v1/preguntes/categoria/' + this.categoria)
                .then(response => {
                    this.pregunta = response.data
                    this.cercaPregunta(this.pregunta.id);
                })

            axios.get('http://127.0.0.1:8000/api/v1/categories/' + this.categoria)
                .then(response => {
                    this.categoriaActual = response.data
                })
        },
        updated() {
            this.$refs.spinner.classList.remove("visible")
            this.$refs.spinner.classList.add("invisible")
            this.$refs.divCateg.classList.remove("invisible")
            this.$refs.divCateg.classList.add("visible")

            this.$refs.divPregunta.classList.remove("invisible")
            this.$refs.divPregunta.classList.add("visible")
            this.$refs.pista.classList.remove('invisible')
            this.$refs.pista.classList.add('visible')
        },
        methods: {
            cercaPregunta: function (idPregunta) {
                axios.get('http://127.0.0.1:8000/api/v1/preguntes/' + idPregunta + '/respostes')
                    .then(response => {
                        this.respostes = response.data
                        this.respostaCorrecta = this.respostes.respostes.filter(d => d.isCorrecta == 1)
                        this.respostaCorrecta = this.respostaCorrecta["0"].id;
                    })
            },
            comprovaResposta: function (opcioTriada) {

                if (opcioTriada === this.respostaCorrecta) {
                    document.getElementById(opcioTriada).classList.remove('bg-light')
                    document.getElementById(opcioTriada).style.backgroundColor = 'green'
                    //Comprovar si te quesito d'aquesta categoria, si no en te donar-li
                    this.pintaQuesito(this.categoria)
                } else {
                    document.getElementById(opcioTriada).classList.remove('bg-light')
                    document.getElementById(opcioTriada).style.backgroundColor = 'red'
                    for (var i = 0; i < this.respostes.respostes.length; i++) {
                        if (this.respostes.respostes[i].isCorrecta) {
                            document.getElementById(this.respostes.respostes[i].id).classList.remove('bg-light')
                            document.getElementById(this.respostes.respostes[i].id).style.backgroundColor = 'green'
                        }
                    }
                }
                for (var i = 0; i < this.respostes.respostes.length; i++) {
                    document.getElementById(this.respostes.respostes[i].id).disabled = true;
                }

                //Comprovar si te tots els quesitos. Si els te, portar-lo al component de guanyador.
                if (this.shared.t1.aconseguit && this.shared.t2.aconseguit && this.shared.t3.aconseguit &&
                    this.shared.t4.aconseguit && this.shared.t6.aconseguit && this.shared.t6.aconseguit || this.shared.partides == 3){ //&&
                    this.carregarVistaGuanyador()
                } else if (this.shared.partides == 1) {
                    this.carregarVistaPerdedor()
                } else {
                    this.carregaVistaDau()
                }

            },
            pintaQuesito(categoria) {
                var triangleCateg;
                switch (categoria) {
                    case 1:
                        this.shared.t1.aconseguit = true;
                        document.getElementById("t1").classList.remove("triangle_desactivat")
                        document.getElementById("t1").classList.add("triangle_geografia")
                        break;
                    case 2:
                        this.shared.t2.aconseguit = true;
                        document.getElementById("t2").classList.remove("triangle_desactivat")
                        document.getElementById("t2").classList.add("triangle_artliteratura")
                        break;
                    case 3:
                        this.shared.t3.aconseguit = true;
                        document.getElementById("t3").classList.remove("triangle_desactivat")
                        document.getElementById("t3").classList.add("triangle_historia")
                        break;
                    case 4:
                        this.shared.t4.aconseguit = true;
                        document.getElementById("t4").classList.remove("triangle_desactivat")
                        document.getElementById("t4").classList.add("triangle_entreteniment")
                        break;
                    case 5:
                        this.shared.t5.aconseguit = true;
                        document.getElementById("t5").classList.remove("triangle_desactivat")
                        document.getElementById("t5").classList.add("triangle_natura")
                        break;
                    case 6:
                        this.shared.t6.aconseguit = true;
                        document.getElementById("t6").classList.remove("triangle_desactivat")
                        document.getElementById("t6").classList.add("triangle_esports")
                        break;
                }
            },

            /**
             *  Redirecciona després de 3 segons, a la ruta de TiraDau.
             */
            carregaVistaDau() {
                this.shared.partides = this.partides - 1;
                this.interval = setTimeout(function () {
                    this.$router.push({name: 'tiradau'})
                }.bind(this), 3000);
            },

            carregarVistaGuanyador() {
                this.interval = setTimeout(function () {
                    this.$router.push({name: 'guanyador'})
                }.bind(this), 3000);
            },

            carregarVistaPerdedor() {
                this.interval = setTimeout(function () {
                    this.$router.push({name: 'perdedor'})
                }.bind(this), 3000);
            }
        }
    }
</script>

<style scoped>

    #pregunta {
        font-family: "Ubuntu Mono";
        font-size: 3em;
        font-weight: bold;
    }

    .card2 {
        background-color: transparent !important;
        border: 0px;
    }

    .txt-Cat {
        font-size: 2em;
    }

    .visible {
        display: block;
    }

    .invisible {
        display: none;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
</style>