<template>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-3 text-center">
                <div class="card gedf-card m-5">
                    <div class="card-header">
                        <b>Juga una partida</b>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                 aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label for="FormControlSelect2">Rondes</label>
                                    <select class="form-control" v-model="partides" id="FormControlSelect2" >
                                        <option selected value="3">3</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>

                                </div>
                                <!-- Trigger the modal amb un button -->
                                <a  href="#" class="card-link btn btn-primary" data-toggle="modal" data-target="#modalElimina">Iniciar partida</a>

                                <!-- Modal -->
                                <div class="modal fade" id="modalElimina" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Contingut Modal-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Dades del jugador</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="username" class="col-form-label">Introdueix el teu àlies</label>
                                                <input type="text"  v-model="usuari" id="username" class="form-control" aria-label="Username" name="newData" aria-describedby="basic-addon1" value="">
                                            </div>
                                            <div class="modal-footer" id="del">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Tancar</button>
                                                <router-link
                                                        v-if="usuari.length > 0"
                                                        @click.native="actualitzaNom"
                                                        class="btn btn-success"
                                                        data-dismiss="modal"
                                                        :to="{name : 'tiradau', params: {'user'  :this.usuari}}">
                                                    Jugar!
                                                </router-link>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="text-light">Visualitza el rànking d'usuaris més experts!</p>
                    <router-link class="btn btn-warning text-primary"
                                 :to="{name : 'ranking'}">
                        Rànking
                    </router-link>
                </div>
            </div>

            <div class="col-md-4">
                <img src="http://especiales.lanacion.com.ar/multimedia/proyectos/cancha/gifs/img/trivia-spin.gif">
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

</template>

<script>

    import ModalNom from "./ModalNom";
    export default {
        name: "StartGameComponent",
        props: ['user'],
        props: ['shared'],
        components: {ModalNom},
        data:function () {
            return{
                usuari : '',
                partides: '3'

            }
        },
        created() {
            this.shared.usuari = '';
            this.shared.t1.aconseguit = false;
            this.shared.t2.aconseguit = false;
            this.shared.t3.aconseguit = false;
            this.shared.t4.aconseguit = false;
            this.shared.t5.aconseguit = false;
            this.shared.t6.aconseguit = false;
            this.shared.partides = '';
            this.pintaQuesito()
        },
        methods: {
            actualitzaNom: function() {
                this.shared.usuari = this.usuari
                this.shared.partides = this.partides
                this.shared.tempsStart = new Date()
                console.log("inici temps :" + this.shared.tempsStart)
            },
            pintaQuesito() {
                document.getElementById("t1").classList.add("triangle_desactivat")
                document.getElementById("t1").classList.remove("triangle_geografia")
                document.getElementById("t2").classList.add("triangle_desactivat")
                document.getElementById("t2").classList.remove("triangle_artliteratura")
                document.getElementById("t3").classList.add("triangle_desactivat")
                document.getElementById("t3").classList.remove("triangle_historia")
                document.getElementById("t4").classList.add("triangle_desactivat")
                document.getElementById("t4").classList.remove("triangle_entreteniment")
                document.getElementById("t5").classList.add("triangle_desactivat")
                document.getElementById("t5").classList.remove("triangle_natura")
                document.getElementById("t6").classList.add("triangle_desactivat")
                document.getElementById("t6").classList.remove("triangle_esports")
            }
        },


    }
</script>

<style scoped>

</style>