<template>
    <div>
        <div class="container">
            <h5 class="text-light">Partides restants: {{this.shared.partides}}</h5>
            <div id="dice"></div>
            <button id="button" v-on:click="rollDice" disabled>Llançar</button>
        </div>
        <br>
        <br>
        <h5 class="text-light">{{titol_Categ}}</h5>
        <div id="totesCategories" class="categories">
            <div v-for="categoria in categories" class="mb-2">
                <router-link v-bind:id="categoria.id" class="mr-2 disabled" :to="{name:'responpregunta', params:{categoria : categoria.id}}">
                    <button v-bind:id="categoria.id" class="categoria">

                        <img class="imatge" v-bind:src="categoria.descripcio"><br>
                        {{categoria.nom}}
                    </button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TiraDau",
        props: ['shared'],
        data: function () {
            return {
                number: 0,
                categories: null,
                titol_Categ: '',
                isActive: true,
                usuari : this.user,
                dice : '',
                dices: ['', '&#9856;','&#9857;', '&#9858;', '&#9859;', '&#9860;', '&#9861;'],
                stopped : true,
                t : 0,
                random : ''
            }
        },
        created() {
            axios.get('http://127.0.0.1:8000/api/v1/categories')
                .then(response => {
                    this.categories = response.data
                    document.getElementById("button").disabled = false;
                })
            this.stopstart();
        },
        methods: {
            rollDice: function (event) {
                //this.number = Math.floor(Math.random() * 6) + 1;
                this.stopstart()
                this.number = this.random;
                for (var i = 1; i <= 6; i++) {
                    document.getElementById(i).style.display = 'none';
                }
                document.getElementById("button").disabled = true;
                document.getElementById("totesCategories").style.visibility = "visible";
                if (this.number == 1) {
                    document.getElementById("1").style.display = 'inline';
                    document.getElementById("4").style.display = 'inline';
                    document.getElementById("1").classList.remove('disabled');
                    document.getElementById("4").classList.remove('disabled');

                } else if (this.number == 2) {
                    document.getElementById("2").style.display = 'inline';
                    document.getElementById("5").style.display = 'inline';
                    document.getElementById("2").classList.remove('disabled');
                    document.getElementById("5").classList.remove('disabled');
                } else if (this.number == 3) {
                    document.getElementById("3").style.display = 'inline';
                    document.getElementById("6").style.display = 'inline';
                    document.getElementById("3").classList.remove('disabled');
                    document.getElementById("6").classList.remove('disabled');
                } else if (this.number == 4) {
                    document.getElementById("4").style.display = 'inline';
                    document.getElementById("1").style.display = 'inline';
                    document.getElementById("4").classList.remove('disabled');
                    document.getElementById("1").classList.remove('disabled');
                } else if (this.number == 5) {
                    document.getElementById("5").style.display = 'inline';
                    document.getElementById("2").style.display = 'inline';
                    document.getElementById("5").classList.remove('disabled');
                    document.getElementById("2").classList.remove('disabled');
                } else if (this.number == 6) {
                    for (var i = 1; i <= 6; i++) {
                        document.getElementById(i).style.display = 'inline';
                        document.getElementById(i).classList.remove('disabled');
                    }
                }
                this.titol_Categ = 'Tria una de les següents categories:'
            },
            change() {
                this.random = Math.floor(Math.random()*6) + 1;
                document.getElementById("dice").innerHTML = this.dices[this.random]
            },
            stopstart() {
                if(this.stopped) {
                    this.stopped = false;
                    this.t = setInterval(this.change, 200);
                } else {
                    clearInterval(this.t);
                    this.stopped = true;
                }

            }
        }
    }

</script>

<style scoped>
    * {
        text-align: center;
    }
    .disabled {
        pointer-events:none;
        opacity:0.6;
    }
    .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categoria {
        background-color: #808686;
        width: 200px;
        height: 270px;
    }

    button {
        background-color: red;
        border-radius: 6px;
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px;
        text-transform: uppercase;
        width: 200px;
        cursor: pointer;
    }

    button[disabled] {
        background-color: var(--dark);
        border-radius: 6px;
        border: none;
        color: var(--primary);
        padding: 10px;
        text-transform: uppercase;
        width: 200px;
        cursor: default;
    }

    #placeholder {
        height: 120px;
        width: 115px;
        margin: 50px auto;
        border: 1px solid gray;
        border-radius: 10px;
        font-size: 80px;
    }


    #totesCategories{
        visibility: hidden;
    }
    #dice {
        font-size: 220px;
        margin-top: -8%;
        color: #2dd233;
    }
</style>