<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Escull entre aquestes categories</div>

                    <div class="card-body">
                        ---
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TriaCategoria"
    }
</script>

<style scoped>

</style>